#menu-toggle:checked + #menu {
  display: block;
}

.dropdown:hover .dropdown-menu,
.dropdown:active .dropdown-menu {
  display: block;
}

.active{
  text-decoration: underline;
  background: #2b2b2b;
}